@import "uikit.min";
@import "mediaplayer.min";

@import url('https://fonts.googleapis.com/css?family=Anton|Merienda');

// Body
html {
  background: url("../img/stars.gif");
}

//Headliner
h1{
  color:white;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size:100px;
}

//BODY FONT
//Score: 0, 0, 0, 2
article p, h3{
  color:white;
  font-family: 'Merienda', cursive;
}

.uk-container{
  max-width:90%;
}

video{
  display: block;
  margin: 0 auto;
}

img{
  max-width: 100%;
  margin: 5px;
  padding: 5px;
}
footer p{
  color:gray;
  font-family: 'Merienda', cursive;
}


