@import "uikit.min";
@import "mediaplayer.min";

@import url('https://fonts.googleapis.com/css?family=Anton|Merienda|Kavivanar|Amatic+SC');

// Body
html {
  background: url("../img/stars.gif");
}

//Headliner
h1{
  padding:50px;
  text-align:center;
  color:white;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size:100px;
  
  transition: margin-top .5s ease-in-out;
  //   Justice's solution
  position: relative;
}

h1:hover{
  transition: 2.5s ease-in-out;
  color:#8406D3;
}
//BODY FONT
//Score: 0, 0, 0, 2
article p, h3{
  color:white;
  font-family: 'Merienda', cursive;
}
h3{
  font-size:50px;
}

//Nav bar
ul.uk-navbar-nav>li>a {
  font-size:40px;
  font-family: 'Amatic SC', cursive;
  color: #8406D3;
}

.uk-container{
  max-width:90%;
}

//video
video{
  display: block;
  margin: 0 auto;
}

img{
  max-width: 100%;
  margin: 5px;
  padding: 5px;
}
footer p{
  color:gray;
  font-family: 'Merienda', cursive;
}

div.shit{
  height:200px;
  width:200px;
  text-align:center;
  display:inline-block;
  
  overflow:hidden;
}

//firstFrame
h4{
  font-family: 'Kavivanar', cursive;
  opacity:0;
  transition: margin-top .5s ease-in-out;
  //   Justice's solution
  position: relative;
}

//Hover and second frame
.shit:hover h4 {
  opacity:1;
  padding: 1em;
  margin-top: -50px;  
  color:white;
  background:#8406D3;
} 

//This works for the H1 header
//http://bl.ocks.org/imkevinxu/4401674
//Also Credit to Sarah via Maddie
.fadeIn {
  opacity: 0;
  animation: fadeIn 1.8s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




